*, body {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    height: 5vh;
    background: #24b9dd;
    padding: 10px 20px;
    color: #ffffff;
}

header i {
    color: #ffffff;
    font-size: 25px;
}

.add i {
    font-size: 15px;
    padding: 5px;
    border: 2px solid #ffffff;
    border-radius: 50%;
}

#logo {
    display: flex;
    width: 20%;
    margin: 0 auto;
}

#logo h3 {
    font-size: .8rem;
}

#logo p {
    font-size: .5rem;
}

.logo img{
    width: 50%;
}

#main-body{
    margin-top: 2%;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.title {
    background: rgba(0, 255, 0, 0.2);
    color: #24b9dd;
    padding: 10px;
    text-align: center;
}
.banner {
    margin-top: 2%;
    padding: 0 10px 15px 10px;
    height: 30vh;
    width: 90%;
    margin: 0 auto;
    align-items: center;
}

.banner img {
    width: 100%;
    height: 100%;
}

.form-content {
    background: #f2f2f2;
    padding: 15px 20px;
}

select {
    width: 100%;
    padding: 10px;
    margin: 5px auto;
    border: none;
}

input[type="text"] {
    padding: 10px;
    width: 90%;
    margin: 5px auto;
    border: 1px solid #333;
}

.send-to {
    background: #ffffff;
    padding: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
}

label{
    padding: 5px;
    margin: 10px auto;
}

.send-to select {
    border: 1px solid #333;
}

.button-div {
    width: 50%;
    margin: 0 auto;
}

button {
    background: #24b9dd;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    width: 100%;
    margin: 0 auto;
}

footer {
    width: 100%;
    height: 2vh;
    background: #24b9dd;
}

@media only screen and (min-width: 500px) {
    body {
        width: 60%;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 900px) {
    body {
        width: 50%;
        margin: 0 auto;
    }
}
